@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

.stwop {
  font-family: 'Press Start 2P', cursive;
}

#root {
  height: 100%;
  width: 100vw;
  display: flex;
}
